.services {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  padding-top: 12rem;
  max-width: calc(1440px + var(--side-padding) * 2);
  margin: 0 auto;

  &:has(.active) {
    .services__item:not(.active) {
      opacity: 0.5;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    padding: 4rem 0;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
    transition: opacity 0.3s;

    &__header {
      display: flex;
      align-items: center;

      &__title {
        text-transform: uppercase;
        z-index: 1;
        margin: 0;
      }

      &__icon {
        align-self: flex-start;

        div {
          position: relative;
          width: 59px;
          height: 51px;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__description {
      flex: 1;
      margin-right: 2rem;
      max-width: calc(1440px / 12 * 7);
      z-index: 1;
      padding-top: 2rem;

      span {
        color: var(--color-main);
        font-family: var(--font-pphatton);
        font-style: italic;
      }
    }

    &__image {
      position: absolute;
      width: 535px;
      height: 342px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transform-origin: right;
      will-change: transform;
      z-index: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .services {
    padding-top: 5rem;
    padding-top: 0;

    &__item {
      padding: 1.5rem 0;

      &__header {
        &__title {
          font-size: 2rem;
        }

        &__icon {
          align-self: flex-start;

          div {
            width: 22px;
            height: 22px;
          }
        }
      }

      &__content {
        flex-direction: column-reverse;
        gap: 0.5rem;
        margin-top: 1rem;
      }

      &__image {
        position: relative;
        top: unset;
        right: unset;
        transform: none;
        width: calc(100vw - (var(--side-padding) * 2));
        aspect-ratio: 343 / 219;
        height: unset;
      }

      &__description {
        margin-right: 0;
        max-width: 100%;
        padding-top: 0;
        font-size: 14px;
      }
    }
  }
}
