.contact {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  max-width: calc(1440px + 2 * var(--side-padding));
  margin: 13rem auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  h2 {
    text-wrap: balance;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

    h2 {
      text-wrap: balance;
    }
  }
}
